# Publish the latest vaccination data for a country
name: Tweet latest vaccination data

on:
  schedule:
    # Hourly run the workflow to check for updates
    - cron: "0 * * * *"
  # Manually run the workflow for debugging
  workflow_dispatch:

jobs:
  publish:
    name: Publish tweet
    runs-on: ubuntu-latest
    steps:
      - name: Checkout covid-19-data
        uses: actions/checkout@v2
        with:
          repository: owid/covid-19-data
          path: covid-19-data

      - name: Checkout covid_vaccine_progress_bot
        uses: actions/checkout@v2
        with:
          path: covid_vaccine_progress_bot

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9.6'

      - name: Install requirements
        run: pip install -r ${{ github.workspace }}/covid_vaccine_progress_bot/requirements.txt

      - name: Patches to OWID
        run: |
          cp ${{ github.workspace }}/covid_vaccine_progress_bot/patch/incremental/* ${{ github.workspace }}/covid-19-data/scripts/src/cowidev/vax/incremental/
          cp ${{ github.workspace }}/covid_vaccine_progress_bot/output/Finland.csv ${{ github.workspace }}/covid-19-data/scripts/output/vaccinations/main_data/Finland.csv

      - name: Update data
        env: 
          SCRIPTS: ${{ github.workspace }}/covid-19-data/scripts/
          OWID_COVID_PROJECT_DIR: ${{ github.workspace }}/covid-19-data
        run: bash ${{ github.workspace }}/covid_vaccine_progress_bot/.github/utils/update.bash

      - name: Publish tweet
        env:
          DATA: ${{ github.workspace }}/covid-19-data/scripts/output/vaccinations/main_data/
          DATA_UNSUPPORTED: ${{ github.workspace }}/covid-19-data/public/data/vaccinations/vaccinations.csv
          INPUT: ${{ github.workspace }}/covid-19-data/scripts/output/vaccinations/main_data
          OUTPUT: ${{ github.workspace }}/covid_vaccine_progress_bot/output
          POPULATION: ${{ github.workspace }}/covid_vaccine_progress_bot/population_2020.csv
          BOT_API: ${{ secrets.BOT_API }}
          BOT_API_SECRET: ${{ secrets.BOT_API_SECRET }}
          BOT_ACCESS: ${{ secrets.BOT_ACCESS }}
          BOT_ACCESS_SECRET: ${{ secrets.BOT_ACCESS_SECRET }}
          TELEGRAM: ${{ secrets.TELEGRAM_API }}
        run: bash ${{ github.workspace }}/covid_vaccine_progress_bot/.github/utils/run.bash

      - name: Update European Union
        env: 
          DATA: ${{ github.workspace }}/covid_vaccine_progress_bot/output/
          OUTPUT: ${{ github.workspace }}/covid_vaccine_progress_bot/output/
        run: python ${{ github.workspace }}/covid_vaccine_progress_bot/.github/utils/EuropeanUnion.py
    
      - name: Update JSON
        env:
          DATA: ${{ github.workspace }}/covid_vaccine_progress_bot/output/
          NOEUDATA: ${{ github.workspace }}/covid_vaccine_progress_bot/output/external/
          POPULATION: ${{ github.workspace }}/covid_vaccine_progress_bot/population_2020.csv
          ADULTS: ${{ github.workspace }}/covid_vaccine_progress_bot/adult_population_2020.csv
          OUTPUT: ${{ github.workspace }}/covid_vaccine_progress_bot/output/vaccination.json
          CSV: ${{ github.workspace }}/covid_vaccine_progress_bot/latest.csv
        run: python ${{ github.workspace }}/covid_vaccine_progress_bot/.github/utils/update_json.py 

      - name: Update website graphs
        env:
          DATA: ${{ github.workspace }}/covid_vaccine_progress_bot/latest.csv
          OUTPUT: ${{ github.workspace }}/covid_vaccine_progress_bot/output/progress.html
          FLAGS: ${{ github.workspace }}/covid_vaccine_progress_bot/flags/
        run: python ${{ github.workspace }}/covid_vaccine_progress_bot/.github/utils/html_graphs.py

      - name: Commit latest update dates
        uses: EndBug/add-and-commit@v7
        with:
          cwd: covid_vaccine_progress_bot
          add: '*.csv *.html *.json'
          author_name: blasf1
          author_email: blasgomossa@gmail.com
          branch: main
          message: "[BOT] Update data and sources for website"
          pull_strategy: --no-rebase
          push: true
